.inputContainer {
  display: flex;
  flex-direction: column;
}
.inputContainer label {
  font-size: 10px;
  margin-bottom: 4px;
}

input[type='text'] {
  border: 1px solid grey;
  width: 300px;
  background-color: transparent;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  color: aliceblue;
}

.timerHandlers {
  display: flex;
  margin-top: 10px;
  gap: 8px;
}
.iconBtn {
  background: transparent;
  padding: 0;
  margin: 0;
  border: none;
  color: #08aacd;
  display: flex;
  cursor: pointer;
  width: 32px;
}
.timerText {
  font-size: 1.5rem;
  font-weight: 600;
}
